---
layout: default.njk
title: Home
---

<section>
    <h2>Follow</h2>
    <a href="">Facebook</a>
    <a href="">Instagram</a>
    <a href="">Etsy</a>
</section>

<section>
    <h2>Gallery</h2>
    <img src="" alt="">
    <img src="" alt="">
</section>

<section>
    <h2>Contact</h2>
    <a href="">Email</a>
    <a href="">Call</a>
</section>
