---
layout: default.njk
title: Home
---

<section id="follow">

    <h2>Follow</h2>

    <div class="social-links">
        <a href="https://www.facebook.com/garinandveinstudios/">
            {% include "assets/images/fa/facebook.svg" %}
        </a>
        <a href="https://www.instagram.com/grainandveinstudios/">
            {% include "assets/images/fa/instagram.svg" %}
        </a>
        <a href="https://www.etsy.com/shop/GrainandVeinStudios">
            {% include "assets/images/fa/etsy.svg" %}
        </a>
    </div>
    
</section>

<section>
    <h2>Gallery</h2>
    <img src="" alt="">
    <img src="" alt="">
</section>

<section>
    <h2>Contact</h2>

    <div class="contact-links">
        <a href="tel:+18022790624">
            {% include "assets/images/fa/phone.svg" %}
            Call
        </a>
        <a href="mailto:contact@grain-and-vein.com">
            {% include "assets/images/fa/envelope.svg" %}
            Email
        </a>
    </div>

</section>
