---
layout: default.njk
title: Grain and Vein Studios
summary: "Grain and Vein Studios focuses on delivering beautiful, elegant, and occasionally whimsimical granite carvings"
---

<section>
    <h1 class="title">Grain &amp; Vein Studios</h1>
    <p class="subtitle">
        Sculpting Imagination
    </p>

    <p>
        Grain and Vein Studios focuses on delivering beautiful, elegant, and occasionally whimsimical granite carvings
    </p>
</section>

<section id="follow">

    <h2>Follow Us</h2>

    <div class="social-links">
        <a href="https://www.facebook.com/garinandveinstudios/" class="fb"
           target="_blank" rel="noopener" aria-label="Facebook Page">
            {% include "assets/images/fa/facebook.svg" %}
        </a>
        <a href="https://www.instagram.com/grainandveinstudios/" class="insta"
           target="_blank" rel="noopener" aria-label="Instagram Page">
            {% include "assets/images/fa/instagram.svg" %}
        </a>
        <a href="https://www.etsy.com/shop/GrainandVeinStudios" class="etsy" 
           target="_blank" rel="noopener" aria-label="Etsy Store Page">
            {% include "assets/images/fa/etsy.svg" %}
        </a>
    </div>
    
</section>

<section>
    <h2>Gallery</h2>

    <p>
        Here's a small selection of our work, but follow us on <a href="https://www.instagram.com/grainandveinstudios/" target="_blank" rel="noopener" class="plain">Instragram</a> for regular updates and behind the scenes pics.
    </p>

    <div class="gallery">
        <img src="/assets/images/src/heart.jpg" alt="Heart with engraving">
        <img src="/assets/images/src/sketch.jpg" alt="Stenciled out piece of granite">
        <img src="/assets/images/src/fender.jpg" alt="Granite shaped like fender guitar">
        <img src="/assets/images/src/parker.jpg" alt="Selfie of Parker">
    </div>
</section>

<section>
    <h2>Contact Us</h2>

    <p>
        Drop us a line if you'd like a quote on a commissioned piece, or just to get in touch and talk granite. <br/>
        We'd love to hear from you! ♥
    </p>

    <div class="contact-links">
        <div class="contact">
            <a href="tel:+18022790624" class="btn" target="_blank">
                {% include "assets/images/fa/phone.svg" %}
                Call
            </a>
            <a href="tel:+18022790624" class="plain" target="_blank">
                (802) 279-0624
            </a>
        </div>

        <div class="contact">
            <a href="mailto:contact@grainandvein.com" class="btn" target="_blank">
                {% include "assets/images/fa/envelope.svg" %}
                Email
            </a>      
            <a href="mailto:contact@grainandvein.com" class="plain" target="_blank">
                @GrainAndVein.com
            </a>
        </div>

    </div>

</section>
