/* https://hankchizljaw.com/wrote/a-modern-css-reset/ */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* layout */

body.page {
    font-size: 1.1em;
    display: flex;
    flex-direction: column;
    background: #f5f5ea;
    font-family: 'Lato', sans-serif;
}

header.header-hero,
main.content {
  max-width: 50rem;
  margin: 0 auto;
}

header.header-bar {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  padding: 0.5rem;
  text-align: center;
  max-width: unset;
  background: #524d9d;
  color: white;
}
header.header-hero {
  margin-top: 3rem;
  text-align: center;
}

header.header {
    height: 7rem;
}

main.content {
    padding: 1rem 2rem;
    flex-grow: 1;
    padding-bottom: 6rem;
    background: white;
}

footer.footer {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #252525;
    color: #f4f3ff;
}

section {
    margin-top: 3rem;
}

/* header */


span.logo {
    float: left;
    border: 2px solid black;
    border-radius: 50%;
    padding: 0.3rem;
    font-size: 2rem;
    margin: 0.4rem;
    font-family: JupiterAlts;
}

.header-bar svg {
  width: 58px;
  float: left;
  fill: white;
}

header.header-hero {
    margin-top: .2rem;
}
.title {
    font-size: 3em;
    color: #101051;
    text-align: center;
    margin-top: 0;
}
.subtitle {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  color: #636363;
}

h1,h2,h3 {
  font-family: LucidaCalligraphyEF;
  margin: 1rem 0;
  color: #1c1c82;
}


/* social */
.social-links {
    display: flex;
}

.social-links a {
  color: #000;
  border-radius: 6px;
  padding: 0.5rem 0.7rem;
  margin: .5rem .5rem;
  transition: background .4s ease;
  display: inline-flex;
  align-items: center;
  justify-items: center;
}

.social-links svg {
    height: 40px;
}

.social-links a:hover {
  background: #d8d8d8;
}

.social-links a.fb:hover {
  color: #3b5998;
}
.social-links a.etsy:hover {
  color: #de690f;
}
.social-links a.insta:hover {
  background: radial-gradient(circle at 30% 107%,
                            rgba(253, 244, 151, .6) 0%,
                            rgba(253, 244, 151, .6) 5%, 
                            rgba(253, 89, 73, .6) 45%,
                            rgba(214, 36, 159, .6) 60%,
                            rgba(40, 90, 235, .6) 90%);
}

/* contacts */
.contact-links {
    display: flex;
    flex-direction: column;
}

.contact {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.contact-links a.btn {
    display: inline-flex;
    align-items: center;
    padding: 0.4rem 0.8rem;
    margin-right: 1rem;
    min-width: 8rem;
    border: 2px solid #000;
    border-radius: 3px;
    color: black;
    text-decoration: none;
    transition: background .4s ease;
}

.contact-links a.btn svg {
  height: 23px;
  margin-right: 1rem;
}

.contact-links a.btn:hover {
    background: #d7deff;
}

.contact-links a.plain {
  color: #524d9d;
  text-decoration: none;
  font-size: 1.1em;
}
.contact-links a.plain:hover {
  color: #1b1bca;
  text-decoration: underline;
}



/* gallery */
.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery img {
  max-width: 50%;
  border: 4px solid white;
}

/* mobile styles */
@media (max-width: 500px) {
  main.content {
      padding: 1rem;
  }

  .gallery img {
      max-width: 100%;
      border: 4px solid #fff;
  }

  .contact {
      flex-direction: column
  }
  .contact-links a.btn {
      margin-right: 0;
  }
}
