<!doctype html>
<html lang="en">

<head>
    <meta name="viewport" content="initial-scale=1.0, width=device-width" > 
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 

    {# Favicons #}
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

    {# Theme color for browser chrome (chrome android) #}
    <meta name="theme-color" content="#00843d">


    {# Primary Meta Tags #}
    <title>{{title}}</title>
    <meta name="title" content="{{title}}">
    <meta name="description" content="{{summary}}">
    
    {# Open Graph / Facebook #}
    <meta property="og:type" content="article">
    <meta property="og:url" content="https://grainandvein.com/{{page.url}}">
    <meta property="og:title" content="{{title}}">
    <meta property="og:description" content="{{summary}}">
    <meta property="og:image" content="https://grainandvein.com/assets/images/thumbnail.png">

    {# Twitter #}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{title}}">
    <meta name="twitter:description" content="{{summary}}">
    <meta name="twitter:image" content="https://grainandvein.com/assets/images/thumbnail.png">


    {# capture the CSS content and inline #}
    {% set css %}{% include "assets/styles/styles.css" %}{% endset %}
    <style type="text/css">{{ css | cssmin | safe }}</style>
</head>
<body class="page ">

   
    <header class="header-bar">
        <span class="logo">GV</span>        
    </header>

    <header class="header-hero">
        <span class="title">Grain and Vein Studios</span>
    </header>


    <main class="content">
        
        {{ content | safe }}

    </main>

    <footer class="footer">
        
        &copy; 2019 Grain and Vein Studios

    </footer>

    {# capture the JS content and inline #}
    {% set js %}{% include "assets/scripts/site.js" %}{% endset %}
    <script type="text/javascript">{{ js | jsmin | safe }}</script>

</body>

</html>
